/docker/.data
/cli/performance/
/cli/target/
/webapp/target/
application.pid
.idea/
/target/
/restclient/target/
/test-common/target/
/common/target/
*.iml
npm-debug.log
/webapp/node
/webapp/node_modules
/webapp/src/main/resources/new/js/bundle.min.js
.sass-cache/
/mavenplugin/target/
/cli/nbproject/
/webapp/nbproject/
/webapp/Demo/
*.releaseBackup
release.properties
**/nb-configuration.xml
**/.DS_Store
.mojito/
/chromeextension/ict-popup-bundle.js
/chromeextension/ict-bundle.js
/chromeextension/img/
/docs/.jekyll-cache/
/docs/_site/
/.java-version
/node_modules/
/tmp/
/local/