.mojito-ict-string-active {
    border: 1px solid green !important;
}

.mojito-ict-popup {
    width: 300px;
}

#mojito-ict {
    @import './mojito.scss';

    // from normalize
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2    
    margin: 0;
    outline: none;

    .mojito-ict-modal .selected {
        background-color: rgba($brand-primary, 0.1);;
    }

    .modal-content {
        z-index: 701;
    }
}
