.mojito-ict-string-active {
    border: 1px solid green !important;
}

.mojito-ict-string-delta-active {
    border: 1px solid blue !important;
}

.mojito-ict-string-mt {
    border: 1px solid orange !important;
}

.mojito-mt-ict-string-static:after {
    content: " MT";
    color: orange;
    font-size: 8px;
}

.mojito-ict-popup {
    width: 300px;
}

#mojito-ict {
    @import './mojito.scss';

    .mojito-ict-modal .selected {
        background-color: rgba($brand-primary, 0.1);;
    }

    .modal-content {
        z-index: 701;
    }
}
