.mojito-ict-string:hover {
    border: 1px solid green !important;
}

/*.mojito-ict-string {
    border: 1px solid green !important;
}*/

.mojito-ict-popup {
    width: 300px;
    height: 200px;
}

#mojito-ict {
    @import './mojito.scss';
    outline: none;

    .mojito-ict-modal .selected {
        background-color: rgba($brand-primary, 0.1);;
    }

    .modal-content {
        z-index: 701;
    }
}
