{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "modules": true,
        "classes": true,
        "arrowFunctions": true

    },
    "rules": {
        "semi": 2
    },
    "env": {
      "es6": true,
      "commonjs": true
    },
    "globals": {
      "Promise": true,
      "XHR": true
    }
}
