<!DOCTYPE html>
<html>
    <head lang="{{locale}}">
        <title>Mojito</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script type="text/javascript">
            APP_CONFIG = {{{appConfig}}};
            CSRF_TOKEN = '{{csrfToken}}';
        </script>
    </head>

    <body>
        {{& analyticsHtmlInclude }}
        <div id="app"></div>
        <script type="text/javascript" src="{{contextPath}}<%= htmlWebpackPlugin.files.js[0] %>"></script>
        <script type="text/javascript" src="{{contextPath}}<%= htmlWebpackPlugin.files.js[1] %>"></script>
    </body>

</html>
