name: Run tests - Ubuntu + Java 8

on:
  [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test env variable
        run: env
#      - name: Set up JDK 1.8
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'zulu'
#          java-version: 8.0.292
#      - name: Spotless check
#        run: mvn spotless:check
#      - name: Maven install, test skipped
#        run: mvn install -DskipTests
#      - name: Maven test
#        run: mvn test